# Compiler files
cache/
cache_hardhat/
out/
artifacts/
typechain/
/data/data_*
/data/analysis_*
/data/4byte_signatures*

# Docs
docs/

# Dotenv file
.env

# Coverage file
lcov.info
coverage/

# Environment config
.vscode/

# Node
node_modules
